<div class="row">
	<div class="medium-12 columns">
		<h3>Sign Up</h3>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<div id='sign-up'>
			<%= form_for(@user, url: { action: 'create' }) do |f| %>
			  <div class="field"><%= f.text_field :first_name, :size => 40, :placeholder => "First Name" %></div>
			  <div class="field"><%= f.text_field :last_name, :size => 40, :placeholder => "Last Name" %></div>
			  <div class="field"><%= f.text_field :email, :size => 40, :placeholder => "Email" %></div>
			  <div class="field"><%= f.text_field :phone, :size => 40, :placeholder => "Phone" %></div>
			  <div class="field"><%= f.text_field :username, :size => 40, :placeholder => "Username" %></div>
			  <div class="field"><%= f.password_field :password, :size => 40, :placeholder => "Password" %></div>
			  <%= f.hidden_field :tutor, value: "false" %>
			  <div class="actions"><%= f.submit 'Sign Up', class: "button medium" %></div>
			<% end %>

			<h5>Already have an account?</h5>
			<%= link_to 'Log in to your account', login_path %>
		</div>
	</div>
</div>

