<div class="row">
	<div class="medium-12 columns">
		<% if flash[:notice] %>
		  <p class="notice" style="color:red;"><%= flash[:notice] %></p>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<h3>Sign Up</h3>
	</div>
</div>

<div class="row">
	<div class="medium-12 columns">
		<div id='session'>
			<%= form_for(@user, url: { action: 'create' }) do |f| %>
			  <div class="field"><%= f.text_field :first_name, :size => 40, :placeholder => "First Name" %></div>
			  <div class="field"><%= f.text_field :last_name, :size => 40, :placeholder => "Last Name" %></div>
			  <div class="field"><%= f.text_field :email, :size => 40, :placeholder => "Email" %></div>
			  <div class="field"><%= f.text_field :phone, :size => 40, :placeholder => "Phone" %></div>
			  <div class="field"><%= f.text_field :username, :size => 40, :placeholder => "Username" %></div>
			  <div class="field"><%= f.password_field :password, :size => 40, :placeholder => "Password" %></div>
			  <%= f.hidden_field :tutor, value: "false" %>
			  <div class="actions"><%= f.submit 'Sign Up', class: "button medium" %></div>
			<% end %>
		</div>
	</div>
</div>

