<div class="row">
	<div class="medium-12 columns">
		<% if flash[:notice] %>
		  <p class="notice" style="color:red;"><%= flash[:notice] %></p>
		<% end %>
	</div>
</div>

<% if current_user %>
	<div class="row">
		<div class="medium-12 columns">
			<h2>NEWS FEED</h2>
		</div>
	</div>
	
<% else %>
	<div class="row">
		<div class="medium-12 columns">
			<%= link_to 'Login', login_path %> or <%= link_to 'Sign Up', new_user_path %>
		</div>
	</div>
<% end %>


<div class="row">
	<div class="medium-6 columns">
		<h4>Connect with your classmates and discuss your University courses!</h4>
		<!-- pictures go here, right under text -->
	</div>
	<div class="medium-6 columns">
		<h4>Some of our supported schools:</h4>
		<% @schools.each do |school| %>
			<p><%= link_to school.name, school_path(school) %></p>
		<% end %>
	</div>
</div>





<% if Rails.env.test? == true %>
	<%= link_to 'Log Out', log_out_path, class: 'btn btn-primary'  %>
<% end %>

