<% if flash[:notice] %>
  <p class="notice" style="color:red;"><%= flash[:notice] %></p>
<% end %>

<h3><%= @school.name %></h3>
<h4><%= @school.location %>, <%= @school.state %></h4>

<div class="row">
	<div class="medium-16 columns">
		<h5>Available Courses</h5>
		<% @school.courses.each do |course| %>
			<p><%= link_to course.name, school_course_path(@school,course) %></p>
		<% end %>
	</div>
	<div class="medium-16 columns">
		<h5>Students at <%= @school.name %>:</h5>
		<% @users.each do |user| %>
      <p><%= link_to user.username, user_path(user) %></p>
    <% end %>
	</div>
</div>